.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--text-body);
    height: 100vh;
    // margin: 5rem auto 3rem;

    & h1 {
        font-size: var(--font-size-xl);
        text-align: center;
        letter-spacing: 4px;
        margin: 0px 0px 3rem;

        @include for-tablet-landscape-up {
            font-size: var(--font-size-3xl);
            margin: 0px 0px 5rem;

        }
    }

    & .bio {
        font-size: var(--font-size-large);
        max-width: 1000px;

        & p {
            margin: 1rem 2.5vw;
            line-height: 140%;
        }

        @include for-tablet-landscape-up {
            padding-left: 3.5rem;

        }
    }
}