html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-active {
    height: 100%!important;
    margin-bottom: 0!important;
}

.swiper-slide a {
    margin: 0 2.5vw;
    color: var(--color-on-bg);
}

.swiper-slide h3 {
    font-size: var(--font-size-xl);
    letter-spacing: -1px;
    margin-bottom: 20px;
    font-family: var(--text-headings);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;

  @include for-tablet-landscape-up {
    transition: transform 0.5s ease, top 0.5s ease;
    will-change: transform;
    &:hover {
        transform: rotate(1deg);
    }

}
}

.swiper-pagination {
    display: none;
    @include for-tablet-landscape-up {
        display: block;
        margin-right: 2.5vw;
    }
}

.swiper-pagination-bullet {
    background-color: rgba($color: #ffff64, $alpha: 0.5);
    
}

.swiper-pagination-bullet-active{
    background-color: #ffff64;
}